.parent{
    position: absolute;
    box-sizing: border-box;
}

.drag-panel{
    position: absolute;
    background: rgba(0,0,0,0.3);
    cursor: move;
}

.resize-anchor {
    position: absolute;
    pointer-events: auto;
    width: 12px;
    height: 12px;
    border: 2px solid rgb(27, 173, 225);
    display: block;
    background-color: white;
    position: absolute;
    cursor: default;
}

.rotate-anchor{
    position: absolute;
    border: 2px solid rgb(27, 173, 225);
    width: 12px;
    height: 12px;
    border-radius: 12px;
}

.rotate-anchor:hover{
    background-color:  rgb(27, 173, 225);
}