.drag-panel{
    position: absolute;
    background: rgba(0,0,0,0.3)!important;
    cursor: move;
    display: none;
}

.resize-anchor {
    position: absolute;
    pointer-events: auto;
    width: 12px;
    height: 12px;
    border: 2px solid rgb(25, 172, 225) !important;
    display: block;
    background-color: white !important;
    position: absolute;
    cursor: default;
    display: none;
}

.rotate-anchor{
    position: absolute;
    border: 2px solid rgb(27, 173, 225) !important;;
    width: 12px;
    height: 12px;
    background-color: white !important;
    border-radius: 12px;
    display: none;
}

// .resize-anchor:hover, .rotate-anchor:hover{
//     background-color:  rgb(27, 173, 225) !important;;
// }